@model StaticPagedList<dushuhuiEntity.Ying>
@using PagedList;
@using PagedList.Mvc;
@using DushuhuiService;
@using Common;


<div class="container" style="margin-top:80px">

    <div class="row">
        <div class="col-md-8">
            <h3>读书营</h3>
            <div class="btn-group  dushuying-type-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default dushuying-type" onclick="ToUrl('all')" data-type="all">全部</button>
                <button type="button" class="btn btn-default dushuying-type" onclick="ToUrl('wei')" data-type="wei">正在报名</button>
                <button type="button" class="btn btn-default dushuying-type" onclick="ToUrl('ing')" data-type="ing">正在进行</button>
                <button type="button" class="btn btn-default dushuying-type" onclick="ToUrl('end')" data-type="end">已经结束</button>

            </div>

            @foreach (var item in Model)
            {
                <div class="row dushuying">
                    <div class="col-md-4 text-center"><a href="#"><img src="/Resource/img/shu.png" alt="..." class="img-thumbnail" style="width:100%"></a></div>
                    <div class="col-md-6" style="line-height:25px;">
                        <span style="color:#666666"> 读书营</span>：@item.YingTitle<br />
                        陪读人：<a href="@Url.Action("Ren", "Home", new { rid=item.Peiduren})">@RenService.GetRenById(item.Peiduren).RenNickName</a><br />
                        书目：<a href="@Url.Action("Shu", "Home", new { bid=item.Shumu})"> @BookService.GetBookById(item.Shumu).BookName </a><br />
                        开营时间：@item.YingStartTime.ToString("yyyy-MM-dd") <br />
                        费用：@item.YingPay 元 <br />
                        读书营简介： @item.YingInfo<br />
                        <button class="btn btn-danger" style="margin-top:20px;">立刻报名</button>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4 hidden-sm  hidden-xs">
            <h3>创始人说</h3>
            <div class="row">
                <div class="col-md-12">
                    <img src="/Resource/img/shu.png" alt="..." class="img-thumbnail" style="width:100%">
                </div>
            </div>
        </div>
    </div>

</div>


@section BottomScripts {
    <script type="text/javascript">


        var xx = getUrlParam('type');

        $('.dushuying-type-group button').each(function () {

            var hrefurl = $(this).data("type");;

            if (xx == hrefurl) {
                $(this).addClass('btn-warning');

            }
        });



        $('.dushuying-type').on("mouseover", function () {

            var xx = getUrlParam('type');
            var yy = $(this).data("type");
            if (xx != yy) {
                $(this).removeClass("btn-default");
                $(this).addClass("btn-warning");
            }

            // alert("asdf");
        }).on("mouseout", function () {
            var xx = getUrlParam('type');
            var yy = $(this).data("type");
            if (xx != yy) {
                $(this).removeClass("btn-warning");
                $(this).addClass("btn-default");
            }

        }).on("click", function () {
            var xx = getUrlParam('type');
            var yy = $(this).data("type");
            var tourl = "/Home/Dushuying?type=" + yy;
            window.location.href = tourl;

        });

    </script>
}