@model dushuhuiEntity.Book
@using Common;


<div class="container" style="margin-top:80px">

    <div class="row">
        <div class="col-md-8">
            <h3>@Model.BookName</h3>
            <div class="row">
                <div class="col-md-4 text-center"><a href="#"><img src="/Resource/img/shu.png" alt="..." class="img-thumbnail" style="width:100%"></a></div>
                <div class="col-md-4" style="line-height:25px;">
                    <h4>@Model.BookName</h4>     
                    作者: @Model.BookZuozhe <br />           
                    译者: @Model.BookYizhe<br />
                    出版社: @Model.BookChubanshe<br />
                    ISBN: @Model.BookISBN<br />
                    上线时间: @Model.CreateTime<br />
                    局长推荐：  @CommonTools.ReplaceHtmlTag(Model.BookTuijian, 60)<br />
                    <button class="btn btn-danger" style="margin-top:10px;">查看本书读书营</button>
                </div>
                <div class="col-md-4" style="line-height:30px;border-left:1px solid #cccccc">
                    <h4>陪读更新</h4>
                    读者: 36人<br />
                    陪读人:<a href="#"> 3人</a><br />
                    读书笔记: <a href="#">265篇</a><br />

                </div>
            </div>
            
            <h3>内容简介</h3>
            <div class="row">
                <div class="col-md-12">                  
                    <div class="content" style="line-height:30px;">
                        @Html.Raw(Model.BookTuijian)


                    </div>
                </div>
            </div>
            @*<h3>找个陪读人陪你读</h3>
            <div class="row">
                <div class="col-md-3 text-center"><a href="#"><img src="/Resource/img/zz.jpg" alt="..." class="img-circle img-thumbnail" style="width:100%"></a><a href="#"><h4>赵征</h4></a></div>
                <div class="col-md-3 text-center"><img src="/Resource/img/hesu.jpg" alt="..." class="img-circle img-thumbnail" style="width:100%"><h4>贺苏</h4></div>
                <div class="col-md-3 text-center"><img src="/Resource/img/zz.jpg" alt="..." class="img-circle img-thumbnail" style="width:100%"><h4>赵征</h4></div>
                <div class="col-md-3 text-center"><img src="/Resource/img/hesu.jpg" alt="..." class="img-circle img-thumbnail" style="width:100%"><h4>贺苏</h4></div>
            </div>*@
        </div>
        <div class="col-md-4">
            <h3>创始人说</h3>
            <div class="row">
                <div class="col-md-12">
                    <img src="/Resource/img/shu.png" alt="..." class="img-thumbnail" style="width:100%">
                </div>
            </div>
        </div>
    </div>

</div>


