<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-sm" href="@Url.Action("Index","Home")">陪读书局</a>
        </div>
        <div class="navbar-collapse collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li class="hidden-sm hidden-md"><a href="@Url.Action("Shudan","Home")">书单</a></li>
                <li><a href="@Url.Action("Peiduren","Home")">陪读人</a></li>
                <li><a href="@Url.Action("Dushuying","Home")">读书营</a></li>
                <li><a href="@Url.Action("Dushubiji","Home")">读书笔记</a></li>              
                <li><a href="@Url.Action("Xueyuanchengzhang","Home")">学员成长</a></li>
                <li><a href="@Url.Action("Chuangshirenshuo","Home")">创始人说</a></li>
            </ul>
            <ul class="nav navbar-nav  hidden-sm">
                <li>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="书单、陪读人">
                        </div>
                        <button type="submit" class="btn btn-default">查找</button>
                    </form>
                </li>
            </ul>
            @if (Session["uname"] != "" && Session["uname"] != null)
{

    @*<ul class="nav navbar-nav navbar-right hidden-sm">
        <li><a href="@Url.Action("Ucenter", "Ucenter")">@Session["uname"]</a>

        </li>  
        
    </ul>*@
    <ul class="nav navbar-nav navbar-right  hidden-sm">
        <li class="dropdown">
            <a href="@Url.Action("Ucenter", "Ucenter")" class="dropdown-toggle" data-toggle="dropdown">
                @Session["uname"]
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">设置</a></li>
                <li><a href="#">我的笔记</a></li>
                <li><a href="#">我的读书营</a></li>
                <li class="divider"></li>
                <li><a href="@Url.Action("Logout","Account")">退出</a></li>
            </ul>
        </li>

    </ul>



}
            else
            {
<ul class="nav navbar-nav navbar-right hidden-sm">
    <li><a href="@Url.Action("Login", "Account")">登录</a></li>
    <li><a href="@Url.Action("Register","Account")">注册</a></li>
</ul>
}
            
           
        </div>
    </div>
</div>
