@model psycoderEntity.Notice
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.title = "系统消息";
}
@section Topcss {
<link href="~/plugins/bootstrap-validator/css/bootstrapValidator.css" rel="stylesheet" type="text/css" />
<link href="~/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet">
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>          
            修改 @ViewBag.title
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            修改 @ViewBag.title
                        </h3>

                    </div>
                    <!-- /.box-header -->
                    @using (Html.BeginForm("Edit", "AdminNotice", FormMethod.Post, new { @class = "form-horizontal", @name = "Edit", @id = "Edit" }))
                    {
                        @Html.AntiForgeryToken()
                         @Html.ValidationSummary(true)
                          @Html.HiddenFor(model=>model.Id)
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "标题最多允许64个字符，32个汉字"})
                                </div>
                            </div>




                           <div class="form-group">
                                @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-2" })
                                <div class="col-sm-9">
                                    <textarea id="Content" name="Content" style="height:500px;">@Html.Raw(Model.Content)</textarea>
                                </div>
                            </div>
                           



                          
                            <div class="form-group">
                                @Html.LabelFor(model => model.Tags, new { @class = "control-label col-md-2" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.Tags, new { @class = "form-control", @data_role = "tagsinput" })
                                </div>
                            </div>

                       
                            <div class="form-group">
                                @Html.LabelFor(model => model.Author, new { @class = "control-label col-md-2" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.Author, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.HrefUrl, new { @class = "control-label col-md-2" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.HrefUrl, new { @class = "form-control" })
                                </div>
                            </div>

                            @Html.HiddenFor(model => model.CreateTime, new{ @Value=DateTime.Now})



                        </div>


                    </div>
                    
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <button class="btn btn-default">取消</button>
                        <button type="submit" class="btn btn-primary pull-right">保存并发布</button>
                    </div>
               
                    } </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>


    

@section BottomScripts {
        <script type="text/javascript" src="~/plugins/bootbox.min.js"></script>
        <script type="text/javascript" src="~/plugins/bootstrap-validator/js/bootstrapValidator.js"></script>
        <script type="text/javascript" charset="gbk" src="~/plugins/ueditor/ueditor.config.js"></script>
        <script type="text/javascript" charset="gbk" src="~/plugins/ueditor/ueditor.all.min.js"> </script>
        <script type="text/javascript" charset="gbk" src="~/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
        <script type="text/javascript" src="~/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>



        <script type="text/javascript">
 
        var ue = UE.getEditor('Content');
          
        </script>
}
