@model dushuhuiEntity.Ying

@section Topcss {
    <link href="~/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
}
<div class="container" style="margin-top:80px">

    <div class="row">
        <div class="col-md-8">     
            
               @using (Html.BeginForm("CreateDushuying", "Ucenter", FormMethod.Post, new { @class = "form-horizontal", @name = "CreateDushuying", @id = "CreateDushuying" }))
                    {
                    @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                    <div class="form-group">
                        <h3>创建我的读书营</h3> 
                    </div>
                   @Html.HiddenFor(model => model.Peiduren, new { @Value=Session["uid"].ToString()})
                    <div class="form-group">
                        @Html.LabelFor(model => model.YingTitle, new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.YingTitle, new { @class = "form-control", @placeholder = "读书营标题" })
                            @Html.ValidationMessageFor(model => model.YingTitle)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Shumu, new { @class = "control-label col-md-2" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(model => model.Shumu, ViewData["booklist"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Shumu)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.YingStartTime, new { @class = "control-label col-md-2" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.YingStartTime, new { @class = "form-control", @placeholder = "读书会开始时间" })
                            @Html.ValidationMessageFor(model => model.YingStartTime)
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.YingEndTime, new { @class = "control-label col-md-2" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.YingEndTime, new { @class = "form-control", @placeholder = "读书会结束时间" })
                            @Html.ValidationMessageFor(model => model.YingEndTime)
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.YingPay, new { @class = "control-label col-md-2" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.YingPay, new { @class = "form-control", @placeholder = "读书营费用" })
                            @Html.ValidationMessageFor(model => model.YingPay)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.YingInfo, new { @class = "control-label col-md-2" })
                        <div class="col-sm-9">
                            @Html.TextAreaFor(model => model.YingInfo, new { @class = "form-control", @placeholder = "读书营介绍" })
                            @Html.ValidationMessageFor(model => model.YingInfo)
                        </div>
                    </div>
                   <div class="form-group">
                      
                        <div class="col-sm-11">
                            <button type="submit" class="btn btn-primary pull-right">立刻创建</button>
                        </div>
                    </div>
                    }
                
            </div>
        <div class="col-md-4">
          
            <div class="row text-center">

                @Html.Action("UcenterInfo", "Ucenter", new { id = Session["uid"] })
            </div>
        </div>
    </div>

</div>

@section BottomScripts {
    <script type="text/javascript" src="~/plugins/datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="~/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>

    <script type="text/javascript">
        $('#YingStartTime,#YingEndTime').datepicker({
            format: 'yyyy-mm-dd',
            startDate: '1d',
            language: "zh-CN",
            todayHighlight: true,
        });

      
    </script>

<script type="text/javascript">
    $(function () {
        var validate = $("#CreateDushuying").validate({
            // debug: true, //调试模式取消submit的默认提交功能
            errorClass: "field-validation-error", //默认为错误的样式类为：error
            // focusInvalid: false, //当为false时，验证无效时，没有焦点响应
            // onkeyup: false,
            //submitHandler: function (form) {   //表单提交句柄,为一回调函数，带一个参数：form
            //    alert("提交表单");
            //    form.submit();   //提交表单
            //},

            rules: {
                YingEndTime: {
                    required: true,
                    remote: {
                        type: "GET",
                        contentType: "application/json;charset=UTF-8",
                        url: "/Account/CheckEndTime",//请求地址
                        //传递的参数,不写默认是当前校验的值
                        data:{
                            YingStartTime: function () { return $("#YingStartTime").val(); }
                        } 
                    }
                }
            }

        });

    });
</script>

}


