@using dushuhuiEntity;
@model dushuhuiEntity.Notice
@{
    Ren ren = ViewData["user"] as Ren;
}


<div class="container" style="margin-top:80px">

    <div class="row">
       
        <div class="col-md-8">

            <h3 class="webTitle">@Model.Title</h3>
         
            <div class="box-body">
                @Html.Raw(Model.Content)
            </div>@Html.AntiForgeryToken()
            <div class="box-footer text-center" style="padding:50px 100px">
                <button class="btn btn-danger btn-block btn-lg" onclick="Shenqing('@ren.Id', '/Ren/Shenqing/', '/Account/Logout')">申请成为陪读人</button> 
            </div>
          

        </div>
        <div class="col-md-4">

            <div class="row text-center">

                @Html.Action("UcenterInfo", "Ucenter", new { id = Session["uid"] })
            </div>
        </div>
    </div>

</div>

@section BottomScripts {
    <script type="text/javascript" src="/plugins/bootbox.min.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap-switch/js/bootstrap-switch.js"></script>

    <script type="text/javascript">

        function Shenqing(id, url, tourl) {
            bootbox.confirm({
                buttons: {
                    confirm: {
                        label: '确定',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: '取消',
                        className: 'btn-default'
                    }
                },
                message: '你正在申请陪读人，请联系微信：sky20100 支付费用并开通相关功能！',
                callback: function (result) {
                    if (result) {
                        var token = $('[name=__RequestVerificationToken]').val();
                        var headers = {};
                        //防伪标记放入headers
                        //也可以将防伪标记放入data
                        headers["__RequestVerificationToken"] = token;
                        $.ajax({
                            url: url,
                            headers: headers,
                            type: 'post',
                            timeout: 3000,
                            data: {
                                id: id,
                                __RequestVerificationToken: token
                            },
                            success: function (msg) {
                                if (msg.MessageStatus == 'true') {
                                    //window.location.reload();
                                    window.location.href = tourl;
                                }
                                else {
                                    alertconfirm('申请陪读人失败');
                                }
                            },
                            error: function (e) {
                                alertconfirm('出现意外错误，申请失败！');
                            }
                        });
                    }
                    else {
                        // alertconfirm('您已经取消删除了');
                    }
                },
                title: "申请成功确认框",
            });
        }



    </script>
}






