@using dushuhuiEntity;
@using DushuhuiService;
@{
    Ren ren = ViewData["user"] as Ren;
}

<div class="container" style="margin-top:80px">

    <div class="row">
        @*<div class="col-md-8">
                <h3 style="border-bottom:1px solid #dddddd;line-height:60px">读书笔记<span class="pull-right"><a class="btn btn-primary" href="@Url.Action("Daka","Home")">打卡写读书笔记</a></span></h3>
                <div class="row">
                    <div class="dushubiji">
                        <h4>如果爱，请深爱1</h4>
                        <div class="smalltitle">
                            <span>陪读人：赵征</span><span>读者：赵征</span><span>打卡时间：2018-02-03 23：56</span>
                        </div>
                        <div class="contentinfo">
                            这是是这边呢书的江爱的阿斯顿发送到发手动阀手动阀是的阿斯顿发送到发手动阀手动阀阿萨德法师打发斯蒂芬 阿斯蒂芬阿道夫发
                        </div>
                    </div>
                    <div class="dushubiji">
                        <h4>如果爱，请深爱1</h4>
                        <div class="smalltitle">
                            <span>陪读人：赵征</span><span>读者：赵征</span><span>打卡时间：2018-02-03 23：56</span>
                        </div>
                        <div class="contentinfo">
                            这是是这边呢书的江爱的阿斯顿发送到发手动阀手动阀是的阿斯顿发送到发手动阀手动阀阿萨德法师打发斯蒂芬 阿斯蒂芬阿道夫发
                        </div>
                    </div>
                    <div class="dushubiji">
                        <h4>如果爱，请深爱1</h4>
                        <div class="smalltitle">
                            <span>陪读人：赵征</span><span>读者：赵征</span><span>打卡时间：2018-02-03 23：56</span>
                        </div>
                        <div class="contentinfo">
                            这是是这边呢书的江爱的阿斯顿发送到发手动阀手动阀是的阿斯顿发送到发手动阀手动阀阿萨德法师打发斯蒂芬 阿斯蒂芬阿道夫发
                        </div>
                    </div>
                    <div class="dushubiji">
                        <h4>如果爱，请深爱1</h4>
                        <div class="smalltitle">
                            <span>陪读人：赵征</span><span>读者：赵征</span><span>打卡时间：2018-02-03 23：56</span>
                        </div>
                        <div class="contentinfo">
                            这是是这边呢书的江爱的阿斯顿发送到发手动阀手动阀是的阿斯顿发送到发手动阀手动阀阿萨德法师打发斯蒂芬 阿斯蒂芬阿道夫发
                        </div>
                    </div>
                </div>
            </div>*@

        <div class="col-md-8">



            <h3 class="webTitle">我参加的读书营</h3>
            @if (ViewBag.Amount > 0)
            {
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-warning">全部</button>
                    <button type="button" class="btn btn-default">已经报名</button>
                    <button type="button" class="btn btn-default">正在进行</button>
                    <button type="button" class="btn btn-default">已经结束</button>
                    <button type="button" class="btn btn-default">我创建的</button>
                </div>

                 foreach (var item in Model)
               {
                <div class="row dushuying">
                    <div class="col-md-4 text-center"><a href="#"><img src="/Resource/img/shu.png" alt="..." class="img-thumbnail" style="width:100%"></a></div>
                    <div class="col-md-6" style="line-height:25px;">
                        读书会：@YingService.GetYingById(item.YingId).YingTitle<br />
                        陪读人: @YingService.GetYingById(item.YingId).YingBId <br />
                        书目：@YingService.GetYingById(item.YingId).YingRId<br />
                        开营时间：@YingService.GetYingById(item.YingId).YingStartTime 至 @YingService.GetYingById(item.YingId).YingEndTime<br />
                        费用: @YingService.GetYingById(item.YingId).YingPay 元<br />
                        读书营简介：@YingService.GetYingById(item.YingId).YingInfo <br />


                        @if (YingService.GetYingById(item.YingId).YingRId == int.Parse(Session["uid"].ToString()))
                        {
                              <button class="btn btn-warning" style="margin-top:20px;">报名管理</button>
                        }

                        @if (System.DateTime.Now > YingService.GetYingById(item.YingId).YingStartTime && System.DateTime.Now < YingService.GetYingById(item.YingId).YingEndTime)
                        {
                             if (item.Status == "success")
                        { 
                         <button class="btn btn-primary" style="margin-top:20px;">@item.Status 立刻打卡</button>
                        }
                         if (item.Status == "shenqing")
                              { 
                         <button class="btn btn-default" style="margin-top:20px;">本营已开始您未交费希望你下次抓紧时间哦</button>
                              }
                             
                        }

                       
                        <button class="btn btn-warning" style="margin-top:20px;">@item.Status 未交费</button>
                        <button class="btn btn-success" style="margin-top:20px;">@item.Status 已报名等待开营</button>
                        <button class="btn btn-primary" style="margin-top:20px;">@item.Status 立刻打卡</button>
                        <button class="btn btn-default" style="margin-top:20px;">@item.Status 本营已结束</button>


                    </div>
                </div>
                 }
            }
            else
            {
                <div class="row text-center">

                    <div class="box-body no-info">
                        你尚未参加读书营<br>
                        <a href="@Url.Action("dushuying","Home")">点击选择一个读书营吧</a>
                    </div>

                </div>

            }




        </div>
        <div class="col-md-4">

            <div class="row text-center">
                <div class="col-md-12">
                    <img src="/Resource/img/zz.jpg" alt="..." class="img-thumbnail img-circle" style="width:50%">
                    <h3>@ren.RenNickName</h3>
                    <span style="height:50px;line-height:30px">会写代码的心理咨询师</span>
                    <table class="table">
                        <tr>
                            <td><h4>0</h4><span>打卡</span></td>
                            <td style="border-right: 2px solid #eeeeee; border-left: 2px solid #eeeeee"><h4>0</h4><span>读书营</span></td>
                            <td><h4>0</h4><span>关注</span></td>
                        </tr>
                    </table>
                    <div class="uc-jieshao">
                        会写代码的心理咨询师会写代码的心理咨询师会写代码的心理咨询师会写代码的心理咨询师会写代码的心理咨询师会写代码的心理咨询师会写代码的心理咨询师
                    </div>
                    <ul class="uc-menu">
                        <li>
                            <a class="btn btn-block btn-lg btn-info" href="@Url.Action("UCDushuying","Home")">我参加的读书营</a>
                        </li>
                        <li>
                            <a class="btn btn-block btn-lg btn-info">我的读书打卡笔记</a>
                        </li>
                        @if (Session["peiduren"] == "true")
                        {
                        <li>
                            <a class="btn btn-block btn-lg btn-success" href="@Url.Action("UCDushuying","Home")">新增书单</a>

                        </li>

                            <li>
                                <a class="btn btn-block btn-lg btn-success" href="@Url.Action("CreateDushuying","Ucenter")">申请举办读书会</a>

                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="btn btn-block btn-lg btn-success" href="@Url.Action("ShenqingPeiduren", "Ucenter", new { id=1})">申请成为陪读人</a>

                            </li>
                        }

                        <li>
                            <a class="btn btn-block btn-lg btn-danger" href="@Url.Action("Logout","Account")">退出登陆</a>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

@section BottomScripts {
    <script type="text/javascript" src="/plugins/bootbox.min.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap-switch/js/bootstrap-switch.js"></script>

    <script type="text/javascript">

        function DeleteItem(id, status, url, tourl) {
            bootbox.confirm({
                buttons: {
                    confirm: {
                        label: '删除',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: '取消',
                        className: 'btn-default'
                    }
                },
                message: '申请成功，请联系微信：sky20100 \n 申请成为读书会成员',
                callback: function (result) {
                    if (result) {
                        var token = $('[name=__RequestVerificationToken]').val();
                        var headers = {};
                        //防伪标记放入headers
                        //也可以将防伪标记放入data
                        headers["__RequestVerificationToken"] = token;
                        $.ajax({
                            url: url,
                            headers: headers,
                            type: 'post',
                            timeout: 3000,
                            data: {
                                id: id,
                                __RequestVerificationToken: token,
                                status: status,
                            },
                            success: function (msg) {
                                if (msg.MessageStatus == 'true') {
                                    //window.location.reload();
                                    window.location.href = tourl;
                                }
                                else {
                                    alertconfirm('删除失败');
                                }
                            },
                            error: function (e) {
                                alertconfirm('出现意外错误，删除失败！');
                            }
                        });
                    }
                    else {
                        // alertconfirm('您已经取消删除了');
                    }
                },
                title: "申请成功确认框",
            });
        }



    </script>
}






