@model StaticPagedList<dushuhuiEntity.YingList>
@using PagedList;
@using PagedList.Mvc;
@using DushuhuiService;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.title = YingService.GetYingById(int.Parse(Request.QueryString["yid"])).YingTitle;
}
@section Topcss {
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/plugins/bootstrap-switch/css/bootstrap-switch.css" rel="stylesheet" type="text/css" />


}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.title
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            @YingService.GetYingById(int.Parse(Request.QueryString["yid"])).YingTitle
                
                        </h3>
                        
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="col-sm-1">
                                        序号
                                    </th>
                                    <th class="col-sm-2">
                                        参加人
                                    </th>
                                    <th class="col-sm-2">
                                        读书营
                                    </th>
                                    
                                    <th class="col-sm-2">
                                        陪读人
                                    </th>
                                    <th class="col-sm-2">
                                        书目
                                    </th>
                                    <th class="col-sm-2">状态</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @RenService.GetRenById(item.Canjiaren).RenNickName
                                    </td>
                                    <td>
                                        @YingService.GetYingById(item.Dushuying).YingTitle
                                    </td>
                                    <td>
                                        @RenService.GetRenById(item.Peiduren).RenNickName
                                    </td>
                                    <td>
                                        @BookService.GetBookById(item.Shumu).BookName
                                    </td>  
                                    <td>
                                        <span class="lable label-@(item.Status=="success"?"success":"danger")">@item.Status</span> 
                                    </td>                                
                                      
                                                                    

                                </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { yid = Request.QueryString["yid"], page = page }),
                            new PagedListRenderOptions
                            {
                                LinkToPreviousPageFormat = "上一页",
                                LinkToNextPageFormat = "下一页",
                                DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                                DisplayLinkToLastPage = PagedListDisplayMode.Always,
                                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                MaximumPageNumbersToDisplay = 5,
                                LinkToFirstPageFormat = "首页",
                                LinkToLastPageFormat = "最后一页",
                                PageCountAndCurrentLocationFormat = "第 {0}页 共 {1}页"
                            })
                        </ul>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>



@section BottomScripts {
<script type="text/javascript" src="/plugins/bootbox.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-switch/js/bootstrap-switch.js"></script>

<script type="text/javascript">

</script>
}
