@model dushuhuiEntity.Ren


<div class="container" style="margin-top:80px">
    <h3 style="font-weight:800">你已有账号，请立刻登录</h3>
    <span>@ViewBag.msg</span>
    <div class="row" style="margin-top:30px">
        <div class="col-md-6">

            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", @name = "Create", @id = "Create" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="box-body">
                    <div class="col-md-12">

                        <div class="form-group">
                            @Html.LabelFor(model => model.RenUserEmail, new { @class = "control-label col-md-2" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.RenUserEmail, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RenUserEmail)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.RenPassword, new { @class = "control-label col-md-2" })
                            <div class="col-sm-6">
                                @Html.PasswordFor(model => model.RenPassword, new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.RenPassword)
                            </div>
                        </div>

                     

                        @*<div class="form-group">
                                @Html.LabelFor(model => model.RenPhone, new { @class = "control-label col-md-2" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.RenPhone, new { @class = "form-control" })
                                    <span><br>使用手机接收注册验证码<br>
                                    验证的手机号如果没有绑定账号，会自动绑定当前账号。</span>
                                    @Html.ValidationMessageFor(model => model.RenPhone)
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="Yanzhengma">验证码</label>


                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="Yanzhengma" id="Yanzhengma">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">获取验证码</button>
                                        </span>
                                    </div>
                                </div>

                            </div>*@

                        <div class="form-group">

                            <div class="col-sm-6 col-sm-offset-2">
                                <button class="btn btn-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;登录&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>

                    </div>

                </div>
            }



        </div>

        <div class="col-md-4">

            <div class="row">
                <div class="col-md-12" style="line-height:30px;">
                    >&nbsp;没有账号<a href="@Url.Action("Register","Account")">马上注册</a><br>
                    >&nbsp;<a href="">微信登录</a>
                </div>
            </div>
        </div>
    </div>

</div>


